/* IQ Design System */
:root {
  /* light-theme */
  /* color */
  --color-pallete-accent-primary-100: #f9c8a7;
  --color-pallete-accent-primary-200: #f8b38c;
  --color-pallete-accent-primary-25: #fdf1d6;
  --color-pallete-accent-primary-300: #f48c6b;
  --color-pallete-accent-primary-400: #f18051;
  --color-pallete-accent-primary-50: #fbe2c4;
  --color-pallete-accent-primary-600: #e5683f;
  --color-pallete-accent-primary-700: #d05e36;
  --color-pallete-accent-primary-75: #f9d5b2;
  --color-pallete-accent-primary-800: #b04f2c;
  --color-pallete-accent-primary-900: #8e3a1e;
  --color-pallete-accent-primary-main: #ee703c;
  --color-pallete-accent-secondary-100: #c2e8f6;
  --color-pallete-accent-secondary-200: #a1daf0;
  --color-pallete-accent-secondary-25: #f3fbfd;
  --color-pallete-accent-secondary-300: #7ac8e7;
  --color-pallete-accent-secondary-400: #5cb7df;
  --color-pallete-accent-secondary-50: #e5f6fb;
  --color-pallete-accent-secondary-600: #329bce;
  --color-pallete-accent-secondary-700: #2b87b9;
  --color-pallete-accent-secondary-75: #d3eff8;
  --color-pallete-accent-secondary-800: #2373a0;
  --color-pallete-accent-secondary-900: #1d5c81;
  --color-pallete-accent-secondary-main: #36a6d6;
  --color-pallete-neutral-colors-black-100: #000000;
  --color-pallete-neutral-colors-black-12: #0000001f;
  --color-pallete-neutral-colors-black-16: #00000029;
  --color-pallete-neutral-colors-black-20: #00000033;
  --color-pallete-neutral-colors-black-24: #0000003d;
  --color-pallete-neutral-colors-black-32: #00000052;
  --color-pallete-neutral-colors-black-4: #0000000a;
  --color-pallete-neutral-colors-black-48: #0000007a;
  --color-pallete-neutral-colors-black-64: #000000a3;
  --color-pallete-neutral-colors-black-7: #00000012;
  --color-pallete-neutral-colors-black-76: #000000c2;
  --color-pallete-neutral-colors-black-88: #000000e0;
  --color-pallete-neutral-colors-gray-100: #e3e3e3;
  --color-pallete-neutral-colors-gray-200: #dadada;
  --color-pallete-neutral-colors-gray-25: #f8f8f8;
  --color-pallete-neutral-colors-gray-300: #c7c7c7;
  --color-pallete-neutral-colors-gray-400: #b5b5b5;
  --color-pallete-neutral-colors-gray-50: #f3f3f3;
  --color-pallete-neutral-colors-gray-500: #a9a9a9;
  --color-pallete-neutral-colors-gray-600: #8c8c8c;
  --color-pallete-neutral-colors-gray-700: #737373;
  --color-pallete-neutral-colors-gray-75: #ededed;
  --color-pallete-neutral-colors-gray-800: #595959;
  --color-pallete-neutral-colors-gray-900: #3e3e3e;
  --color-pallete-neutral-colors-gray-op-100: #181818;
  --color-pallete-neutral-colors-gray-op-12: #1818181f;
  --color-pallete-neutral-colors-gray-op-16: #18181829;
  --color-pallete-neutral-colors-gray-op-20: #18181833;
  --color-pallete-neutral-colors-gray-op-24: #1818183d;
  --color-pallete-neutral-colors-gray-op-32: #18181852;
  --color-pallete-neutral-colors-gray-op-4: #110c220a;
  --color-pallete-neutral-colors-gray-op-48: #1818187a;
  --color-pallete-neutral-colors-gray-op-64: #181818a3;
  --color-pallete-neutral-colors-gray-op-7: #18181812;
  --color-pallete-neutral-colors-gray-op-76: #181818c2;
  --color-pallete-neutral-colors-gray-op-88: #181818e0;
  --color-pallete-neutral-colors-white-100: #ffffff;
  --color-pallete-neutral-colors-white-12: #ffffff1f;
  --color-pallete-neutral-colors-white-16: #ffffff29;
  --color-pallete-neutral-colors-white-20: #ffffff33;
  --color-pallete-neutral-colors-white-24: #ffffff3d;
  --color-pallete-neutral-colors-white-32: #ffffff52;
  --color-pallete-neutral-colors-white-4: #ffffff0a;
  --color-pallete-neutral-colors-white-48: #ffffff7a;
  --color-pallete-neutral-colors-white-64: #ffffffa3;
  --color-pallete-neutral-colors-white-7: #ffffff12;
  --color-pallete-neutral-colors-white-76: #ffffffc2;
  --color-pallete-neutral-colors-white-88: #ffffffe0;
  --color-pallete-system-danger-100: #f9c8a7;
  --color-pallete-system-danger-200: #f8b38c;
  --color-pallete-system-danger-25: #fdf1d6;
  --color-pallete-system-danger-300: #f48c6b;
  --color-pallete-system-danger-400: #f18051;
  --color-pallete-system-danger-50: #fbe2c4;
  --color-pallete-system-danger-500: #f03d3d;
  --color-pallete-system-danger-600: #cf2a2a;
  --color-pallete-system-danger-700: #a41f1f;
  --color-pallete-system-danger-75: #f9d5b2;
  --color-pallete-system-danger-800: #591a1a;
  --color-pallete-system-danger-900: #271111;
  --color-pallete-system-info-100: #a0d2ff;
  --color-pallete-system-info-200: #71bbff;
  --color-pallete-system-info-25: #f5faff;
  --color-pallete-system-info-300: #45a6ff;
  --color-pallete-system-info-400: #1c92ff;
  --color-pallete-system-info-50: #e9f4ff;
  --color-pallete-system-info-500: #0084ff;
  --color-pallete-system-info-600: #0076e2;
  --color-pallete-system-info-700: #0057a7;
  --color-pallete-system-info-75: #c2e2ff;
  --color-pallete-system-info-800: #0c355a;
  --color-pallete-system-info-900: #0d1c2b;
  --color-pallete-system-success-100: #a6e9c8;
  --color-pallete-system-success-200: #6fdaa6;
  --color-pallete-system-success-25: #f3fdf8;
  --color-pallete-system-success-300: #4dcc8f;
  --color-pallete-system-success-400: #28c07a;
  --color-pallete-system-success-50: #e2fcf0;
  --color-pallete-system-success-500: #0baa60;
  --color-pallete-system-success-600: #0a9c55;
  --color-pallete-system-success-700: #0c7844;
  --color-pallete-system-success-75: #c6f1dd;
  --color-pallete-system-success-800: #104b2f;
  --color-pallete-system-success-900: #0d1f11;
  --color-pallete-system-warning-100: #ffdd86;
  --color-pallete-system-warning-200: #ffcb45;
  --color-pallete-system-warning-25: #fffaed;
  --color-pallete-system-warning-300: #fdba0f;
  --color-pallete-system-warning-400: #f2aa09;
  --color-pallete-system-warning-50: #fff5db;
  --color-pallete-system-warning-500: #e09400;
  --color-pallete-system-warning-600: #d07d00;
  --color-pallete-system-warning-700: #b55e0f;
  --color-pallete-system-warning-75: #ffecba;
  --color-pallete-system-warning-800: #5c3111;
  --color-pallete-system-warning-900: #27170b;

  --styles-background-bg-0: var(--color-pallete-neutral-colors-white-100);
  --styles-background-bg-1: var(--color-pallete-neutral-colors-gray-25);
  --styles-background-bg-2: var(--color-pallete-neutral-colors-gray-50);
  --styles-background-bg-3: var(--color-pallete-neutral-colors-gray-75);
  --styles-background-bg-4: var(--color-pallete-neutral-colors-gray-100);
  --styles-background-bg-5: var(--color-pallete-neutral-colors-gray-200);
  --styles-background-bg-6: var(--color-pallete-neutral-colors-gray-300);
  --styles-background-disabled-base-em: var(--color-pallete-neutral-colors-gray-75);
  --styles-background-disabled-high-em: var(--color-pallete-neutral-colors-gray-400);
  --styles-background-disabled-low-em: var(--color-pallete-neutral-colors-gray-100);
  --styles-background-disabled-med-em: var(--color-pallete-neutral-colors-gray-300);
  --styles-background-high-em: var(--color-pallete-neutral-colors-gray-800);
  --styles-background-primary: var(--color-pallete-accent-primary-main);
  --styles-background-primary-accent-1: var(--color-pallete-accent-primary-50);
  --styles-background-primary-accent-2: var(--color-pallete-accent-primary-75);
  --styles-outline-base-em: var(--color-pallete-neutral-colors-gray-50);
  --styles-outline-danger-high-em: var(--color-pallete-system-danger-500);
  --styles-outline-danger-low-em: var(--color-pallete-system-danger-75);
  --styles-outline-danger-med-em: var(--color-pallete-system-danger-100);
  --styles-outline-high-em: var(--color-pallete-neutral-colors-gray-300);
  --styles-outline-info-high-em: var(--color-pallete-system-info-500);
  --styles-outline-info-low-em: var(--color-pallete-system-info-75);
  --styles-outline-info-med-em: var(--color-pallete-system-info-100);
  --styles-outline-low-em: var(--color-pallete-neutral-colors-gray-75);
  --styles-outline-med-em: var(--color-pallete-neutral-colors-gray-200);
  --styles-outline-none: #ffffff00;
  --styles-outline-primary-high-em: var(--color-pallete-accent-primary-main);
  --styles-outline-primary-low-em: var(--color-pallete-accent-primary-75);
  --styles-outline-primary-med-em: var(--color-pallete-accent-primary-100);
  --styles-outline-success-high-em: var(--color-pallete-system-success-500);
  --styles-outline-success-low-em: var(--color-pallete-system-success-75);
  --styles-outline-success-med-em: var(--color-pallete-system-success-100);
  --styles-outline-warning-high-em: var(--color-pallete-system-warning-500);
  --styles-outline-warning-low-em: var(--color-pallete-system-warning-75);
  --styles-outline-warning-med-em: var(--color-pallete-system-warning-100);
  --styles-outline-white: var(--color-pallete-neutral-colors-white-100);
  --styles-text-black: var(--color-pallete-neutral-colors-black-76);
  --styles-text-accent-primary: var(--color-pallete-accent-secondary-main);
  --styles-text-danger-on-accent-dark: var(--color-pallete-system-danger-75);
  --styles-text-danger-on-accent-light: var(--color-pallete-system-danger-600);
  --styles-text-danger-on-base: var(--color-pallete-system-danger-500);
  --styles-text-danger-on-medium-dark: var(--color-pallete-system-danger-200);
  --styles-text-disabled: var(--color-pallete-neutral-colors-gray-400);
  --styles-text-high-em: var(--color-pallete-neutral-colors-gray-900);
  --styles-text-info-low-on-accent-light: var(--color-pallete-system-info-600);
  --styles-text-info-on-accent-dark: var(--color-pallete-system-info-75);
  --styles-text-info-on-base: var(--color-pallete-system-info-500);
  --styles-text-info-on-medium-dark: var(--color-pallete-system-info-200);
  --styles-text-low-em: var(--color-pallete-neutral-colors-gray-500);
  --styles-text-med-em: var(--color-pallete-neutral-colors-gray-700);
  --styles-text-primary-on-accent-dark: var(--color-pallete-accent-primary-75);
  --styles-text-primary-on-accent-light: var(--color-pallete-accent-primary-600);
  --styles-text-primary-on-base: var(--color-pallete-accent-primary-main);
  --styles-text-primary-on-medium-dark: var(--color-pallete-accent-primary-200);
  --styles-text-success-on-accent-dark: var(--color-pallete-system-success-75);
  --styles-text-success-on-accent-light: var(--color-pallete-system-success-600);
  --styles-text-success-on-base: var(--color-pallete-system-success-500);
  --styles-text-success-on-medium-dark: var(--color-pallete-system-success-200);
  --styles-text-warning-on-accent-dark: var(--color-pallete-system-warning-75);
  --styles-text-warning-on-accent-light: var(--color-pallete-system-warning-600);
  --styles-text-warning-on-base: var(--color-pallete-system-warning-500);
  --styles-text-warning-on-medium-dark: var(--color-pallete-system-warning-200);
  --styles-text-white: var(--color-pallete-neutral-colors-white-100);
}
